h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	color: #ffffff;
}

.container {
	margin: 0px auto;
	width: 1200px;
}

header {
	overflow: hidden;
	background-color: #292c2f;	
}

#top-header {
	text-align: center;
	height: 40px;
}

#menu {
	float: right;
	width: 70%;
	height: 100%;
	margin: none;
}

#menu ul {
	text-align: center;
	float: right;
	margin: none;
	background: linear-gradient(132deg, rgb(115, 93, 142) 0.00%, rgb(58, 33, 86) 100.00%);
}

#menu li {
	display: inline-block;
	padding: none;
	margin: none;
}

#menu li a,
#menu li span {
	display: inline-block;
	padding: 0em 1.5em;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 60px;
}

#menu li a {
	color: #fff;
}

#menu li:hover a,
#menu li span {
	background: linear-gradient(132deg, rgb(65, 80, 95) 0%, rgb(36, 37, 38) 100%);
	color: #0074d9;
	border-left: 1px solid #0074d9;
	text-decoration: none;
}

hr.dashed {
	border-top: 1px dashed;
	border-bottom: none;
}

hr.dotted {
	border-top: 6px dotted;
	color: #ffffff;
	border-bottom: none;
}

img.border {
	display: block;
	border-style: outset;
	border-color: #e6e6ff;
	margin-left: auto;
	margin-right: auto;
}

body {
	background: linear-gradient(132deg, rgb(65, 80, 95) 0%, rgb(36, 37, 38) 100%);
}

main.inline_columns {
	content: "";
	display: table;
	clear: both;
}

div.inset_a {
	background: linear-gradient(
		132deg,
		rgb(251, 251, 255) 0%,
		rgb(215, 223, 252) 100%
	);
	width: auto;
	border: 6px inset #ccccff;
	padding: 15px;
	margin: 15px;
	text-align: center;
	height: 300px;
	float: left;
}

div.inset_b {
	background: linear-gradient(
		244deg,
		rgb(251, 251, 255) 0%,
		rgb(215, 223, 252) 100%
	);
	width: auto;
	border: 6px double #ccccff;
	padding: 15px;
	margin: 15px;
	text-align: center;
	height: 300px;
	float: left;
}

div.inset_c {
	background: linear-gradient(
		343deg,
		rgb(251, 251, 255) 0%,
		rgb(215, 223, 252) 100%
	);
	width: 300px;
	border: 6px groove #ccccff;
	padding: 15px;
	margin: 15px;
	text-align: center;
	height: 300px;
	float: left;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px;
	padding: 10px;
}

.grid-container > div {
	background: linear-gradient(
		132deg,
		rgb(255, 206, 236) 0%,
		rgb(151, 150, 240) 100%
	);
	width: 300px;
	border: 3px inset #ccccff;
	padding: 15px;
	margin: 15px;
	text-align: center;
	height: 150px;
}

footer{
 bottom: 0;
}
.footer-distributed{
 background-color: #292c2f;
 box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 box-sizing: border-box;
 width: 100%;
 text-align: left;
 font: bold 16px sans-serif;
 
 padding: 55px 50px;
 margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
 display: inline-block;
 vertical-align: top;
}
 
.footer-distributed .footer-left{
 width: 40%;
}
 
.footer-distributed h3{
 color:  #ffffff;
 font: normal 36px 'Cookie', cursive;
 margin: 0;
}
 
.footer-distributed h3 span{
 color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
 color:  #ffffff;
 margin: 20px 0 12px;
 padding: 0;
}
 
.footer-distributed .footer-links a{
 display:inline-block;
 line-height: 1.8;
 text-decoration: none;
 color:  inherit;
}
 
.footer-distributed .footer-company-name{
 color:  #8f9296;
 font-size: 14px;
 font-weight: normal;
 margin: 0;
}
 
 
.footer-distributed .footer-center{
 width: 35%;
}
 
.footer-distributed .footer-center i{
 background-color:  linear-gradient(132deg, rgb(115, 93, 142) 0.00%, rgb(58, 33, 86) 100.00%)
 color: #ffffff;
 font-size: 25px;
 width: 38px;
 height: 38px;
 border-radius: 50%;
 text-align: center;
 line-height: 42px;
 margin: 10px 15px;
 vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
 font-size: 17px;
 line-height: 38px;
}
 
.footer-distributed .footer-center p{
 display: inline-block;
 color: #ffffff;
 vertical-align: middle;
 margin:0;
}
 
.footer-distributed .footer-center p span{
 display:block;
 font-weight: normal;
 font-size:14px;
 line-height:2;
}
 
.footer-distributed .footer-center p a{
 color:  #0074d9;
 text-decoration: none;;
}
 
.footer-distributed .footer-right{
 width: 20%;
}
 
.footer-distributed .footer-company-about{
 line-height: 20px;
 color:  #0074d9;
 font-size: 13px;
 font-weight: normal;
 margin: 0;
}
 
.footer-distributed .footer-company-about span{
 display: block;
 color:  #0074d9;
 font-size: 14px;
 font-weight: bold;
 margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
 margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
 display: inline-block;
 width: 35px;
 height: 35px;
 cursor: pointer;
 background-color:  #0074d9;
 border-radius: 2px;
 
 font-size: 20px;
 color: #ffffff;
 text-align: center;
 line-height: 35px;
 
 margin-right: 3px;
 margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
 .footer-distributed{
 font: bold 14px sans-serif;
 
 }
 
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
 display: block;
 width: 100%;
 margin-bottom: 40px;
 text-align: center;
 }
 
 .footer-distributed .footer-center i{
 margin-left: 0;
 }
 .main {
 line-height: normal;
 font-size: auto;
 }
